# This file contains pin mappings for the stock 2021 Creality Ender 5
# Pro with the 32-bit Creality 4.2.2 board. To use this config, during
# "make menuconfig" select the STM32F103 with a "28KiB bootloader" and 
# serial (on USART1 PA10/PA9) communication.

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[virtual_sdcard]
path: ~/gcode_files
[display_status]
[pause_resume]

[printer]
kinematics: cartesian
max_velocity: 120
max_accel: 1000
max_z_velocity: 5
max_z_accel: 100

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 220
position_min: -5
position_max: 220
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 220
position_min: 30
position_max: 220
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -1
position_max: 280

[safe_z_home]
home_xy_position: 148.8,117.8 # Change coordinates to the center of your print bed
speed: 70
z_hop: 20                 # Move up 20mm
z_hop_speed: 20

[extruder]
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
gear_ratio: 50:10 #for standard 10t motor
min_extrude_temp = 0
#rotation_distance: 22.67895 #PETG Black (3DJake)
#rotation_distance: 22.41623704
#rotation_distance: 23.76121126
rotation_distance: 23.04837492 #PETG Black (3DJake)
nozzle_diameter: 0.600
filament_diameter: 1.750
#Run current is listed in RMS
#run_current: 0.30 #min current, equivalent to 0.42A peak (Peak = RMS/0.707)
#run_current: 0.35 #max current, equivalent to 0.49A peak (Peak = RMS/0.707)
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for Copperhead Heatbreak/Mikro Swiss MK8 hardware with 230 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 260
min_extrude_temp: 0
pressure_advance = 0.07
#pressure_advance = 0.065 #PETG Black (3DJake & new heatblock)
#pressure_advance = 0.200 #PETG Black (3DJake & old heatblock)
#pressure_advance = 0.175 #PETG Gold (extrudr)

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 90 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 100

# Pin mappings for BL_Touch port
[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -43.3
y_offset: -5.3
#z_offset: 2.300 (0.6 Nozzle)

[bed_mesh]
speed: 50
horizontal_move_z: 5
#coordinates for nozzle position
mesh_min: 7,30
mesh_max: 175, 210
probe_count: 5,5
#fade_start: 1 tbc
#fade_end: 10 tbc
#fade_target: 0 tbc
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2
relative_reference_index: 12

[bed_screws]
screw1:34,48
screw2:204,48
screw3:34,217
screw4:204,217

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  G91
  G1 Z10
  G90
  G1 X210 Y210
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[gcode_macro m205]
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 32.590
#*# pid_ki = 2.012
#*# pid_kd = 131.990
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.550
#*# pid_ki = 1.900
#*# pid_kd = 636.382
#*#
#*# [bltouch]
#*# z_offset = 2.300
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.050000, -0.075000, -0.085000, -0.067500, -0.022500
#*# 	  -0.023750, 0.007500, -0.005000, -0.030000, 0.017500
#*# 	  -0.027500, 0.028750, 0.000000, 0.033750, 0.033750
#*# 	  0.012500, 0.002500, 0.032500, 0.070000, 0.068750
#*# 	  -0.071250, -0.081250, -0.062500, -0.022500, 0.062500
#*# tension = 0.2
#*# min_x = 7.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 5
#*# max_y = 210.0
#*# mesh_x_pps = 2
#*# max_x = 175.0
